.services-main {
  height: 100vh;
  background-color: white;
  padding-top: 30px;
}

.services-heading {
  color: #f87000;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 110px;
}

.services-heading hr {
  flex-grow: 0.91;
  margin-left: 10px;
  border: none;
  height: 1px;
  background-color: #858585;
  opacity: 50%;
}

.card-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
  margin-left: 110px;
}
